@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@100;300;400;500;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}

/* header part started */
.header {
    background-color: rgba(255, 144, 14, 0.1);
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.nav-title {
    margin-right: 200px;
    font-weight: 700;
    color: #131313;
}

.nav-list ul {
    list-style: none;
    display: flex;
    align-items: center;


}

.nav-list ul li {
    padding: 0 19px;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
    cursor: pointer;
}

.nav-list ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f48836;
    display: block;

    margin: auto;
    transition: 0.5s;
}

.nav-list ul li:hover::after {
    width: 100%;
}

/* main header started */
.main-title {
    margin: 60px 200px;
    text-align: center;
}

.title-1 {
    font-weight: 700;
    font-size: 39px;
    color: #131313;
}

.title-p {
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.main-btn {
    width: 140px;
    height: 54px;
    border: none;
    background: #FF900E;
    border-radius: 8px;
    color: aliceblue;
    transition: 0.5s;
}

.main-btn:hover {
    background-color: #a75414;
}

/* banner started */
.banner img {
    width: 1100px;
    height: 500px;
    margin: 0px 120px;
    margin-bottom: 45px;
}

/* header part end  */



/* 1st main started */
.second-main {
    display: flex;
    align-items: center;
    margin: 85px 80px 85px 100px;
}

.photos {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    grid-column-gap: 10px;

}

.photos img {
    width: 340px;
    height: 340px;
}

.tittle-tittle {
    margin-left: 50px;
}

h3 {
    font-weight: 500;
    font-size: 35px;
}

h3 .one {
    color: #727272;
}

h3 .two {
    color: #131313;
}

h3 .three {
    color: #FF900E;

}

.tittle-p {
    margin-top: -20px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

/* 1st main end  */
/* 2nd main started */
.secondd-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 120px;
    gap: 95px;

}



.secondmain-text {
    margin-left: 5px;
    border-left: 5px solid #FF900E;
    padding-left: 15px;
}

.secondmain-p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.secondmain-secondtext {
    margin-left: 20px;
    padding: 15px;
}

.secondmain-secondtext h5 {
    font-weight: 600;
    font-size: 17px;
    color: #131313;


}

.secondmain-secondtext p {
    font-weight: 400;
    font-size: 14px;
    color: #727272;
    padding-top: -20px;

}



.second-main-img img {
    margin-top: 50px;
    width: 600px;
    height: 920px;
}

.main-btn.boton {
    width: 200px;
    height: 130px;
    margin: -100px;
    overflow-y: 190px;

}

.main-btn.boton h2 {
    font-weight: 700;
    font-size: 25px;
    color: #FFFFFF;

}

.main-btn.boton p {
    font-weight: 500;
    font-size: 15px;
    color: #FFFFFF;

}

.main-btn.boton {

    margin-bottom: 5px;
}

/* 2nd section ended */

/* 3rd section started */

.title-third {
    margin-top: 38px;
    margin-left: 120px;
}

.title-third h3 {
    font-weight: 700;
    font-size: 30px;
    color: #131313;
    margin-bottom: -10px;
}

.title-third p {
    font-weight: 400;
    font-size: 12px;
    color: #727272;
}

.box-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 80px;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

.box-detail {
    width: 220px;
    height: 220px;
    box-sizing: border-box;
    border: 1px solid #FF900E;
    border-radius: 8px;
    transition-duration: 1s;
}

.box-detail:hover {
    transform: rotate(360deg);
}

.box-detail img {
    padding-top: 45px;
    width: 40px;
    height: 40px;
}

.box-detail h2 {
    font-weight: 600;
    color: #424242;

}

.box-detail p {
    font-weight: 600;
    font-size: 16px;
    color: #727272;

}

/* 3rd section ended */
/* 4th section started */
.forth-title {
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    align-items: center;
}

.forth-title h2 {
    font-weight: 700;
    color: #131313;
}

.forth-title p {
    font-weight: 400;
    font-size: 13px;
    color: #727272;
}

.forth-img {
    display: flex;
    gap: 90px;
    margin: 100px 180px;
}

.forth-img img {
    width: 120px;
    height: 40px;
    cursor: pointer;
    filter: grayscale(100%);
}

.forth-img img:hover {
    filter: grayscale(0%);
}

/* 4th section ended */

/* footer started */
.footer {
    width: 1165px;
    height: 55px;
    box-sizing: border-box;
    border-style: none;
    border-radius: 8px;
    background-color: #f3e3cf;
    align-items: center;
    text-align: center;
    margin: 120px 90px 60px;
    padding: 2px;
}

.footer p {
    font-weight: 400;
    font-size: 13px;
    color: #424242;
}
/* footer ended */